.weather-map {
  background-color: #29293d;
  padding: 20px;
  border-radius: 15px;
  flex: 3;
  background-color: yellow;
}

.weather-map-header {
  padding: 20px;
  border-radius: 15px;
  flex: 3;
  background-color: red;
}

.weather-map-header h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
