.forecast-container {
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #29293d, #203a43, #2c5364);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 400px;
}

/* Forecast Header */
.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.forecast-header h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.forecast-select {
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 0.8rem;
  background-color: #29293d;
}

.forecast-list {
  overflow-y: scroll;
  max-height: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Forecast Item */
.forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #29293d;
  margin: 3px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.forecast-temp {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.forecast-date {
  color: #aaa;
  font-size: 12px;
}

/* Tomorrow Card */
.tomorrow-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #29293d;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 15px;
}
.tomorrow-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tomorrow-label {
  font-size: 14px;
  font-weight: bold;
}
.tomorrow-temp {
  font-size: 12px;
}
.tomorrow-description {
  font-size: 12px;
}
.tomorrow-icon {
  width: 30px;
  height: 30px;
}
.tomorrow-chart {
  /* width: 100%; */
}
