/* src/App.css */
.app {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  background-color: #1e1e2f; /* dark background like the design */
  color: white;
  font-family: "Poppins", sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
