/* src/components/Highlights/Highlights.css */

.highlights {
  padding: 20px;
  border-radius: 20px;
  flex: 3;
  background: linear-gradient(135deg, #29293d, #203a43, #2c5364);
}

.highlights h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}

.highlights-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*  vertical columns */
  gap: 20px;
}

.highlight-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
}

@media (max-width: 768px) {
  .highlights-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
