.main-card {
  background-color: #1e1e2f;
  border-radius: 15px;
  padding: 20px;
  flex: 1 1 200px;
  min-width: 180px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-card h3 {
  margin-bottom: 10px;
  color: #ccc;
}

.main-card-value {
  font-size: 18px;
  font-weight: bold;
}

.main-card-label {
  font-size: 14px;
  color: #aaa;
}
.chart-wrapper {
  width: 100%;
  height: auto;
  margin-top: 20px;
  /* background-color: red; */
  
}
